body,
html {
  height: 100%;
  background-color: lightgrey;
}

.container {
  display: flex; /* estabele container flex */
  align-items: center; /* centraliza itens verticalmente, nesse caso */
  justify-content: center; /* centrliza itens horizontalmente, nesse caso */
  height: 100%;
  position: relative;
}

.flag {
  height: 585px;
  width: 890px;
  background-color: white;
  background-image: linear-gradient(
    0deg,
    #ffffff 25%,
    #055eb0 25%,
    #055eb0 50%,
    #ffffff 50%,
    #ffffff 75%,
    #055eb0 75%,
    #055eb0 100%
  );
  background-size: 263px 263px;
}

.blue-block {
  position: relative;
  background-color: #055eb0;   
  height: 328.5px;
  width: 400px;
  display: flex; /* estabele container flex */
  align-items: center; /* centraliza itens verticalmente, nesse caso */
  justify-content: center; /* centrliza itens horizontalmente, nesse caso */
}

.stripe-horizontal {
  background-color: #ffffff;
  height: 20%;
  width: 100%;
}

.stripe-vertical {
  position: absolute;
  background-color: #ffffff;
  height: 100%;
  width: 20%;
}
